@page "/SucessoTicket/{EscolhaInicial}/{Departamento}"


<Cabecalho imagem="true" />

<style>
    .imagemsmile {
        display: flex;
        width: 60px;
        height: 60px;
        margin-top: 26px;
        justify-content: center;
        align-items: center;
        color: #1E717A;
        font-size: 60px;
        align-content: center;
    }
    .TextoBoxSucesso {
        display: flex;
        align-items: center;
        width: 536px;
        font-family: "Sora", sans-serif;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0px;
        color: #12444A;
        font-weight: 500;
        opacity: 1;
        justify-content: center;
    }

    .TittleBoxSucesso {
        display: flex;
        align-items: center;
        font-family: "Sora", sans-serif;
        font-size: 18px;
        letter-spacing: 0px;
        color: #1E717A;
        justify-content: center;
        font-weight: 500;
        margin-top: 8px;
    }
    

    .Sucess {
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 140px 60px 140px;
    }

    .Box-Sucesso {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center !important;
    }

    .botaoNovoTicket {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        align-self: center; 
        width: 136px;
        height: 40px;
        font-family: "Sora";
        font-size:"14px"
        letter-spacing: 0px;
        color: #F9F9F9;
        background-color: #1B7C87; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 16px;
        border-radius: 8px
    }








    .TextosAnteriores {
        width: 55px;
        height: 18px;
        color: #758A8A;
        opacity: 1;
        font-family: "Sora", sans-serif;
        /*  margin-left: 484px; */
        white-space: nowrap;
        margin-top: 32px;
    }


    .TextosAnteriores2 {
        width: 55px;
        height: 18px;
        color: #758A8A;
        opacity: 1;
        font-family: "Sora", sans-serif;
        margin-left: 8px;
        white-space: nowrap;
        margin-top: 32px;
    }

    .TextoAtual {
        width: 117px;
        height: 18px;
        color: #272E2E;
        opacity: 1;
        font-family: "Sora", sans-serif;
        white-space: nowrap;
        margin-left: 18px;
        margin-top: 32px;
    }

    .CaixaSucesso {
        height: 212px;
        width: 536px;
        background-color: #A2C8501A;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .header-line1 {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .header-line2 {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    .SetaTras {
        width: 24px;
        height: 24px;
        color: grey;
        margin-top: 12px;
    }

    .TituloPagina {
        width: 262px;
        height: 45px;
        letter-spacing: 0px;
        color: #12444A;
        opacity: 1;
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: 500;
        white-space: nowrap;
        margin-left: 8px;
        font-weight: 600;
        padding-bottom: 72px;
    }

</style>

<div class="Sucess">
    
    <div class="Box-Sucesso">
        <Headline EscolhaInicial="@EscolhaInicial" Departamento="@Departamento" />
    <div class="CaixaSucesso"
        <div class="imagemsmile">
            <span class="material-symbols-outlined" style="font-size: 60px; font-weight: 500;">
                sentiment_satisfied
            </span>
      </div>
        <p class="TittleBoxSucesso">
            Ticket Criado!
        </p>
        <p class="TextoBoxSucesso">
            Agradecemos o seu contacto.<br /> A sua solicitação é importante para nós e será atendida<br /> por um dos nossos especialistas o mais brevemente possível.
        </p>
    </div>
    </div>
    <a href="/" style="text-decoration: none;">
    <div class="botaoNovoTicket">
            <span class="material-symbols-outlined">
                add
            </span>
        Novo Ticket
    </div>
    </a>

</div>

<Rodape />

<Cookies />
@code {
        [Parameter] 
        public string EscolhaInicial { get; set; } = string.Empty ;
        [Parameter] public string Departamento { get; set; } = string.Empty;
        [Inject] private NavigationManager Navigation { get; set; }

    private string Nome { get; set; } = string.Empty;
    private string Empresa { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        Nome = queryParams["nome"] ?? "Sem Nome";
        Empresa = queryParams["empresa"] ?? "Sem Empresa";
}
}
