@page "/novoteste"

<div class="Noticia">
    <div class="TituloNoticias">
        <p>Newsletter Inforcávado</p>
    </div>
    <div class="SubtituloNoticias">
        <p>Novidades sobre os nossos softwares, legislação e muito mais.</p>
    </div>

    <div class="ContainerEmail">
        <div class="EmailInputWrapper">
            <input type="email" placeholder="Coloque aqui o seu e-mail" class="EmailInput" />
            <button class="SubscribeButton">Subscrever</button>
        </div>
    </div>
</div>

<style>
    .Noticia {
        width: 100%;
        height: 280px;
        background: #4C969E;
        padding: 60px 0;
    }

    .TituloNoticias {
        color: #0D3439;
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    .SubtituloNoticias {
        padding-top: 16px;
        display: flex;
        justify-content: center;
        color: #F2F4F4;
        font-family: "Sora";
        font-size: 18px;
        font-weight: 500;
    }

    .ContainerEmail {
        margin-top: 32px;
        display: flex;
        justify-content: center;
    }

    .EmailInputWrapper {
        position: relative;
        width: 538px;
    }

    .EmailInput {
        width: 100%;
        padding: 12px 126px 12px 16px;
        border-radius: 8px;
        font-size: 16px;
        font-family: "Sora";
        outline: none;
        box-sizing: border-box;
        color: #94A4A4;
        opacity: 1;
    }

    .SubscribeButton {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 113px;
        height: 40px;
        background: #1B7C87;
        border-radius: 8px;
        border: none;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-family: "Sora";
    }

    @@media (max-width: 648px) {
        .Noticia

    {
        height: auto;
        padding: 40px 0;
    }

    .TituloNoticias,
    .SubtituloNoticias,
    .ContainerEmail {
        width: 348px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .EmailInputWrapper {
        width: 348px;
    }

    .EmailInput {
        padding: 12px 126px 12px 16px;
        font-size: 14px;
    }

    .SubscribeButton {
        width: 100px;
        height: 36px;
        font-size: 14px;
    }

    }
</style>
